<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Yangi <i>Sayyora</i> yaratish</h1>
    <form method="POST">

        <input type="text" name="sayyora_nomi" placeholder="Sayyora nomini kiriting" required>
        <input type="text" name="sayyora_joylashuvi" placeholder="Sayyora joylashuvini kiriting" required>
        <input type="text" name="sayyora_haqida" placeholder="Sayyora haqida ma'lumotni kiriting" required>

        <button type="submit">Saqlash</button>
    </form>
</body>
</html>